* {
    border: 1px solid blu;
}

body {
    margin: 0;
    background: rgb(255, 255, 255);
}

.body {
    margin: auto;
    max-width: 800px;
    min-width: 0;
    background: rgb(172, 255, 255);
    border: 1px solid black;
}

/*==============================================*/
/*               HEADER                         */
/*==============================================*/

.home-button, .search-bar, .nav-bar {
    /* border: 1px solid blue; */
}

.nav-bar ul {
    padding: 20px;
    text-align: center;
    margin: 0;
    background: lightgray;
}

.nav-bar ul li {
    display: inline;
    /* margin-right: 3%; */
    /* margin-left: 3%; */
    padding: 10px;
    background: white;
}