

/*==============================================*/
/*               HEADER                         */
/*==============================================*/



/*==============================================*/
/*                MAIN                          */
/*==============================================*/


.main1-types {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid green; */
}

.main1-types div {
    text-align: center;
    /* border: 1px solid green; */
    box-shadow: 5px 5px 8px gray;
    width: 30%;
    height: 290px;
    min-width: 230px;
    max-width: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
}

.main1-types img {
    /* width: 200px;*/
    margin: 10px;
    margin-top: 14px;
    width: 90%;
    height: 90%;
}

